<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>👤 Create User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <header>
        <h1>👤➕ Create New User</h1>
    </header>

    <main>
        <form th:action="@{/users}" th:object="${user}" method="post" class="form-layout">
            <label for="name">📛 Name:</label>
            <input type="text" id="name" th:field="*{name}" required /><br/>

            <label for="dateOfBirth">🎂 Date of Birth:</label>
            <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" /><br/>

            <div class="action-buttons">
                <button type="submit" class="btn btn-edit">💾 Save</button>
                <a href="/users" class="btn btn-delete">❌ Cancel</a>
            </div>
        </form>
    </main>
</div>
</body>
</html>
