<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Edit User</h1>
    </header>

    <main>
        <form th:action="@{/users/edit}" th:object="${user}" method="post">
            <!-- Hidden ID Field -->
            <input type="hidden" th:field="*{id}" />

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" placeholder="User Name" required /><br/>

            <button type="submit" class="btn">Save</button>
        </form>
        <a href="/users" class="btn">Cancel</a>
    </main>
</div>
</body>
</html>
