<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
</head>
<body>
<h1>Todo List</h1>
<a href="/todos/new">Add New Todo</a>
<table>
    <thead>
    <tr>
        <th>Task</th>
        <th>Completed</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.task}">Task</td>
        <td th:text="${todo.completed ? 'Completed' : 'Not Completed'}">Completed</td>
        <td>
            <a th:href="@{/todos/{id}/edit(id=${todo.id})}">Edit</a>
            <a th:href="@{/todos/{id}/delete(id=${todo.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
